# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clion
cmake-build-debug
/CMakeLists.txt

# Clion Default ignored files
/shelf/
/workspace.xml

## Clion Editor-based HTTP Client requests
/httpRequests/

## Clion Datasource local storage ignored files
/dataSources/
/dataSources.local.xml